@import '../css/Fonts.css';

.container-fotografia-detalle.INSTITUCIONALES{
    background-color: rgba(241, 130, 105, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em 0 1em 0;
    padding: 1em;
}
.container-fotografia-detalle.PUBLICITARIAS{
    background-color: rgba(148, 132, 255, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 1em 0;
    padding: 1em;
}
.container-fotografia-detalle.FOTO-PRODUCTO{
    background-color: rgba(102, 50, 135, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 1em 0;
    padding: 1em;
}
.container-fotografia-detalle.AÉREAS{
    background-color: rgba(239, 84, 70, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 1em 0;
    padding: 1em;
}
.container-fotografia-detalle.COBERTURAS{
    background-color: rgba(49, 162, 140, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 1em 0;
    padding: 1em;
}

.titulo-fotografia-detalle{
    font-size: 1.7rem;
    text-align: center;
    margin: 1em 0 0 0 ;
    font-family: 'Mont-Black';
    color: #FFFFFF;
}

.fotografia-detalle{
    max-width: 100%;
    margin: 0 auto;
    margin-top: 1em;
}

.texto-fotografia-detalle{
    text-align: center;
    margin: 1em;
    font-size: 0.9em;
    font-family: 'Mont-SemiBold';
    color: #FFFFFF;
}

/*TABLET*/
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .fotografia-detalle{
        max-width: 70%;
        margin: 0 auto;
        margin-top: 1.5em;
        padding-top: 1em;
    }
    .titulo-fotografia-detalle{
        font-size: 1.8rem;
        margin-top: 0.5em;
    }
    .texto-fotografia-detalle{
        margin-bottom: 1em;
    }
}

/*ESCRITORIO*/
@media only screen and (min-width: 1024PX){
    .container-fotografia-detalle.INSTITUCIONALES{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 1em 0 1em 0;
        padding: 1em;
        padding-left: 1.5em;
    }
    
    .container-fotografia-detalle.PUBLICITARIAS{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        margin: 0 0 1em 0;
        padding: 1em;
    }
    .container-fotografia-detalle.FOTO-PRODUCTO{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 0 0 1em 0;
        padding: 1em;
        padding-left: 1.5em;
    }
    .container-fotografia-detalle.AÉREAS{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        margin: 0 0 1em 0;
    }
    .container-fotografia-detalle.COBERTURAS{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 0 0 1em 0;
        padding: 0.5em;
        padding-left: 0.5em;
        padding-left: 1.5em;
    }
    .fotografia-detalle{
        max-width: 50%;
        margin: 0 auto;
    }
    .titulo-fotografia-detalle{
        font-size: 1.8rem;
    }
    .texto-fotografia-detalle{
        padding: 1.5em;
        font-size: 1.25em;
    }
    .foto.AÉREAS{
        padding-right: 4.5em;
        max-width: 110%;
    }
}  