.container-audiovisual-detalle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.container-audiovisual-detalle.SPOTS{
    background-color: rgba(239, 84, 70, 0.65);
    font-family: 'Mont-Black';
    color: #FFFF;
    margin-bottom: 1em;
    padding-top: 1em;
}
.container-audiovisual-detalle.SPOTS p{
    font-family: 'Mont-SemiBold';
    color: #FFFF;
}
.container-audiovisual-detalle.INSTITUCIONALES{
    background-color: rgba(102, 50, 135, 0.65);
    font-family: 'Mont-Black';
    color: #FFFF;
    margin-bottom: 1em;
    padding-top: 1em;
}
.container-audiovisual-detalle.INSTITUCIONALES p{
    font-family: 'Mont-SemiBold';
    color: #FFFF;
} 
.container-audiovisual-detalle.AÉREAS{
    background-color: rgba(105, 163, 212, 0.65);
    font-family: 'Mont-Black';
    color: #FFFF;
    margin-bottom: 1em;
    padding-top: 1em;
}
.container-audiovisual-detalle.AÉREAS p{
    font-family: 'Mont-SemiBold';
    color: #FFFF;
}
.container-audiovisual-detalle.COBERTURAS{
    background-color: rgba(252, 176, 62, 0.65);
    font-family: 'Mont-Black';
    color: #FFFF;
    margin-bottom: 1em;
    padding-top: 1em;
}
.container-audiovisual-detalle.COBERTURAS p{
    font-family: 'Mont-SemiBold';
    color: #FFFF;
}

.video-audiovisual-detalle {
    max-width: 90%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reactplayer{
    width: 100%;
    height: auto;

}

.titulo-audiovisual-detalle{
    margin-top: 20px;
    font-size: 1.5em;
    text-align: center;
}

.texto-audiovisual-detalle p{
    margin: 20px;
    text-align: center;
    font-size: 1.1em;
    font-family: 'Mont-SemiBold';
}
/*TABLET*/
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .video-audiovisual-detalle {
        max-width: 100%;
        max-height: 80vh; 
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        padding: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .reactplayer{
        width: 70%;
        height: auto;

    }
}


/*ESCRITORIO*/
@media only screen and (min-width: 1024PX){
    .wraper-audiovisual.SPOTS{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .wraper-audiovisual.INSTITUCIONALES{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }
    .wraper-audiovisual.AÉREAS{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .wraper-audiovisual.COBERTURAS{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }
    .video-audiovisual-detalle {
        max-width: 50%;
        max-height: 90vh; 
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        padding: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .video-audiovisual-detalle.AÉREAS {
        max-width: 50%;
        max-height: 100vh; 
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        padding: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .video-audiovisual-detalle.AÉREAS{
        width: 200%;
        height: 100%;
    }
    .video-audiovisual-detalle.INSTITUCIONALES{
        width: 200%;
        height: 100%;
    }
    .video-audiovisual-detalle.SPOTS{
        width: 200%;
        height: 100%;
    }
    .reactplayer{
        width: 100%;
        padding: 1em;
        height: auto;
    }
    .texto-audiovisual-detalle p{
        font-size: 1.5em;
        padding: 1em;
    }
}