
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 5em;
    width: auto;
    background-color: #9484FF;

}

.social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width:3em;

}
.social img{
    max-width: 2em;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.linkedin{
    max-width: 1em;
    height: auto;
}
.youtube{
    max-width: 1em;
    height: auto;
}
.instagram{
    max-width: 1em;
    height: auto;
}


.footer p{
    font-size: 1.25em ;
    margin: 0px;
    margin-right: 5%;
    margin-left: 35%;
    height: auto;
    max-width: 50%;
    font-family: 'Mont-SemiBold';
    color: #000000;
}

/* ESCRITORIO */
@media only screen and (min-width: 1024PX){

    .youtube{
        padding-left: 0.3em;
    }
    .social img{
        max-width: 2.5em;
    }
    .linkedin:hover{
        transform: scale(1.2);
        transition: width 0.5s, height 0.5s;
    }
    .youtube:hover{
        transform: scale(1.2);
        transition: width 0.5s, height 0.5s;
    }
    .instagram:hover{
        transform: scale(1.2);
        transition: width 0.5s, height 0.5s;
    }
    .linkedin{
        max-width: 0.5em;
        height: auto;
    }
    .youtube{
        max-width: 0.5em;
        height: auto;
    }
    .instagram{
        max-width: 0.5em;
        height: auto;
    }

}
