@import '../css/Fonts.css';

.wraper-contacto{
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(49, 162, 140, 0.65);
}

.titulo-contacto{
    text-align: center;
    font-size: 1.5em;
    margin: 1.5em;
    color: white;
    font-family: 'Mont-SemiBold';
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    max-width: 100%;
    height: auto;
}

label{
    font-size: 1.5em;
    color: #FFFFFF;
    margin-bottom: 0.5em;
    font-family: 'Mont-SemiBold';
}

.entrada {
    font-size: 1em;
    width: 20em;
    height: 1.5em;
    margin-bottom: 0.5em;
    font-family: 'Mont-SemiBold';
}

.entrada[name="user_name"]::placeholder{
    font-size: 100%;
    font-family: 'Mont-Light';
}

.entrada[name="user_email"]::placeholder {
    font-size: 100%;
    font-family: 'Mont-Light';
}

.textarea::placeholder {
    font-size: 70%;
    font-family: 'Mont-Light';
}

textarea{
    font-size: 1.3em;
    width: 100%;
    height: 8em;
    font-family: 'Mont-SemiBold';
}

.mensaje-exito{
    background-color: #31A28C;
    height: 1em;
    font-family: 'Mont-SemiBold';
    color: #FFFFFF;
    padding: 1em;
    padding-bottom: 2em;
    margin-bottom: 1em;
}

button {
    max-width: fit-content; 
    max-height: fit-content;
    margin: 0 auto;
    margin-top: 1em;
    background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer; 
}

.icono-enviar {
    max-width: 10%; 
    padding-bottom: 1em;
}




/*TABLET*/
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .entrada {
        width: 35em;
        text-align: left;
    }
    .titulo-contacto{
        font-size: 1.8em;
    }
    .formulario{
        align-items:center;
        text-align: left;
    }
    .mensaje-exito{
        background-color: #31A28C;
        height: 2em;
        font-family: 'Mont-SemiBold';
        color: #FFFFFF;
        padding: 1em;
        padding-bottom: 2em;
        margin-bottom: 1em;
    }
    .icono-enviar{
        max-width: 10%;
        padding-bottom: 1em;
    }
    .entrada {
        width: 90%;
    }
    textarea{
        width: 90%;
    }
}


/*ESCRITORIO*/
@media only screen and (min-width: 1024PX){
    .entrada {
        width: 35em;
    }
    .titulo-contacto{
        font-size: 1.8em;
    }
    .formulario{
        align-items:center;
    }
    .mensaje-exito{
        background-color: #31A28C;
        height: 2em;
        font-family: 'Mont-SemiBold';
        color: #FFFFFF;
        padding: 1em;
        padding-bottom: 2em;
        margin-bottom: 1em;
    }
    .icono-enviar{
        max-width: 12%;
        margin: 0 auto;
        padding-bottom: 1em;
        padding-top: 1em;
    }
    .icono-enviar:hover{
        transform: scale(1.2);
        transition: width 0.5s, height 0.5s;
    }
    .entrada {
        width: 90%;
    }
    textarea{
        width: 90%;
    }
} 