@import '../css/Fonts.css';

/* CELULARES S */

.titulo-contacto{
    margin: 20px 20px;
    font-family: 'Mont-Black', sans-serif;
    color: #FFFF;
}

.wraper-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #31A28C;
    margin-bottom: 20px;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Mont-Light', sans-serif;
    color: #FFFF;
}

.submit{
    margin-top: 20px;
    font-family: 'Mont-Light', sans-serif;
    font-size: large;
}

.textarea{
    height: 100px;
    font-family: 'Mont-Light', sans-serif;
}
.entrada{
    font-family: 'Mont-Light', sans-serif;
}

.mensaje-exito{
    font-size: large;
    background-color: #FFFF;
    color:#31A28C ;
    margin-bottom: 10px;
}

/* CELULARES M */
@media only screen and (min-width: 375px) and (max-width: 424px){
    .titulo-contacto{
        margin: 20px 20px;
        font-family: 'Mont-Black', sans-serif;
        color: #FFFF;
    }
    
    .wraper-contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #31A28C;
        margin-bottom: 20px;
    }
    
    .formulario{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-bottom: 20px;
        font-family: 'Mont-Light', sans-serif;
        color: #FFFF;
        width: 70%;
    }
    
    .submit{
        margin-top: 20px;
        font-family: 'Mont-Light', sans-serif;
        font-size: large;
    }
    
    .textarea{
        height: 100px;
        font-family: 'Mont-Light', sans-serif;
    }
    .entrada{
        font-family: 'Mont-Light', sans-serif;
    }
    
    .mensaje-exito{
        font-size: large;
        background-color: #FFFF;
        color:#31A28C ;
        margin-bottom: 10px;
    }
}

/* CELULARES L */
@media only screen and (min-width: 425px) and (max-width: 767px){
    .titulo-contacto{
        margin: 20px 20px;
        font-family: 'Mont-Black', sans-serif;
        color: #FFFF;
    }
    
    .wraper-contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #31A28C;
        margin-bottom: 20px;
    }
    
    .formulario{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-bottom: 20px;
        font-family: 'Mont-Light', sans-serif;
        color: #FFFF;
        width: 70%;
    }
    
    .submit{
        margin-top: 20px;
        font-family: 'Mont-Light', sans-serif;
        font-size: large;
    }
    
    .textarea{
        height: 100px;
        font-family: 'Mont-Light', sans-serif;
    }
    .entrada{
        font-family: 'Mont-Light', sans-serif;
    }
    
    .mensaje-exito{
        font-size: large;
        background-color: #FFFF;
        color:#31A28C ;
        margin-bottom: 10px;
    }
}

/* TABLETS */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .wraper-contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #31A28C;
        margin-bottom: 20px;
    }

    .titulo-contacto{
        margin: 20px 20px;
        font-family: 'Mont-Black', sans-serif;
        color: #FFFF;
        font-size: xx-large;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-bottom: 20px;
        font-family: 'Mont-Light', sans-serif;
        color: #FFFF;
        width: 70%;
    }
    .formulario label{
        margin-bottom: 10px;
        font-size: large;
        font-family: 'Mont-Light', sans-serif;
    }
    .entrada{
        margin-bottom: 10px;
        font-size: large;
        font-family: 'Mont-Light', sans-serif;
    }
    .formulario textarea{
        margin-bottom: 10px;
        font-size: large;
        font-family: 'Mont-Light', sans-serif;
    }
    .submit{
        margin-top: 20px;
        font-family: 'Mont-Light', sans-serif;
        font-size: x-large;
    }

} 

/* ESCRITORIO */
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .titulo-contacto{
        margin: 20px 20px;
        font-family: 'Mont-Black', sans-serif;
        color: #FFFF;
        font-size: xx-large;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-bottom: 20px;
        font-family: 'Mont-Light', sans-serif;
        color: #FFFF;
        width: 70%;
        height: 40%
    }
    .formulario label{
        margin-bottom: 10px;
        font-size: large;
        font-family: 'Mont-Light', sans-serif;
    }
    .entrada{
        margin-bottom: 10px;
        font-size: large;
        font-family: 'Mont-Light', sans-serif;
    }
    .formulario textarea{
        margin-bottom: 10px;
        font-size: large;
        font-family: 'Mont-Light', sans-serif;
    }
    .submit{
        margin-top: 20px;
        font-family: 'Mont-Light', sans-serif;
        font-size: x-large;
    }
}
/* ESCRITORIO GRANDE */
@media only screen and (min-width: 1200px) and (max-width: 1440px){
    .titulo-contacto{
        margin: 20px 20px;
        font-family: 'Mont-Black', sans-serif;
        color: #FFFF;
        font-size: xx-large;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-bottom: 20px;
        font-family: 'Mont-Light', sans-serif;
        color: #FFFF;
        width: 70%;
        height: 100%;
    }
    .formulario label{
        margin-bottom: 10px;
        font-size: xx-large;
        font-family: 'Mont-Light', sans-serif;
    }
    .entrada{
        margin-bottom: 10px;
        font-size: x-large;
        font-family: 'Mont-Light', sans-serif;
    }
    .formulario textarea{
        margin-bottom: 10px;
        font-size: x-large;
        font-family: 'Mont-Light', sans-serif;
    }
    .submit{
        margin-top: 20px;
        font-family: 'Mont-Light', sans-serif;
        font-size: xx-large;
    }
    .wraper-contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #31A28C;
        height: 90vh;
        margin-bottom: 20px;
    }
}

/* 4K */
@media only screen and (min-width: 1441px) and (max-width: 2560px){
    .titulo-contacto{
        margin: 20px 20px;
        font-family: 'Mont-Black', sans-serif;
        color: #FFFF;
        font-size: 60px;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-bottom: 20px;
        font-family: 'Mont-Light', sans-serif;
        color: #FFFF;
        width: 70%;
        height: 65%;
    }
    .formulario label{
        margin-bottom: 10px;
        font-size: 60px;
        font-family: 'Mont-Light', sans-serif;
    }
    .entrada{
        margin-bottom: 10px;
        font-size: 60px;
        font-family: 'Mont-Light', sans-serif;
    }
    .formulario textarea{
        margin-bottom: 10px;
        font-size: 60px;
        font-family: 'Mont-Light', sans-serif;
    }
    .submit{
        margin-top: 20px;
        font-family: 'Mont-Light', sans-serif;
        font-size: 60px;
    }
    .wraper-contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #31A28C;
        height: 80vh;
        margin-bottom: 20px;
    }
}