@import '../css/Fonts.css';

.containerfo {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    background-color: #9484FF;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
}


.fotografia {
    padding: 20px;
    font-family: 'Mont-Black', sans-serif;
}

.fotografia h2 {
    margin: 0 auto;  
    text-align: center;
    color: #FFFF;
}


.containerfo {
    transition: opacity 0.5s ease;
}


.containerfo.visible {
    display: flex; 
    justify-content: center;
}


.blur-in-expand{animation:blur-in-expand 0.9s linear both} @keyframes blur-in-expand{0%{transform:scale(0);filter:blur(12px);opacity:0}100%{transform:scale(1);filter:blur(0);opacity:1}}

/* ESCRITORIO */
@media only screen and (min-width: 992px) and (max-width: 1199px){

    .wraper.containerfo {
        width: 50%;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .containerfo.visible {
        display: flex; 
        justify-content: center;
    }
    
    .wraper.fotografia {
        width: 100%;
    }
    .containerfo {
        flex-direction: row;
        justify-content: space-between;
        background-color: #9484FF;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 15px;
    }
    .fotografia div {
        margin: 6px;
    }
    .fotografia {
        padding: 16px;
        font-family: 'Mont-Black', sans-serif;
    }

} 
/* ESCRITORIO GRANDE */
@media only screen and (min-width: 1200px){
    .fotografia h2 {
        margin: 0 auto;  
        text-align: center;
        color: #FFFF;
        font-size: xx-large;
    }
}