*{
    box-sizing: border-box;
    margin: 0px;
}

body {
    padding-top: 8em; /* Ajusta el valor según la altura de tu encabezado */
}


h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
span{font-size: 1em;}
ul{list-style: none;}


img{
    max-width: 100%;
    height: auto;
}
/*TABLET*/
@media only screen and (min-width: 768px) and (max-width: 1023px){
    body {
        padding-top: 6em; /* Ajusta el valor según la altura de tu encabezado */
    }
}


/*ESCRITORIO*/
@media only screen and (min-width: 1024PX){
    body {
        padding-top: 6em; /* Ajusta el valor según la altura de tu encabezado */
    }
}