@import '../css/Fonts.css';

.container-llamado{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #69A3D4;
    align-items: center;
}
.container-llamado p{
    font-family: 'Mont-Light', sans-serif;
    color: #FFFF;
    margin: 20px;
    margin-top: 50px;
}

.Link-Contactanos{
    text-decoration: none;
    background-color: #663287;
    color: #FFFF;
    font-family: 'Mont-Black', sans-serif;
    margin: 20px;
    border-radius: 15px;
    width: 150px;
    text-align: center;
}
