@import '../css/Fonts.css';

.container-llamado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: rgba(105, 163, 212, 0.65);
    padding-bottom: 1em;
}
.texto-llamado{
    text-align: center;
    max-width: 100%;
    margin: 2em;
    font-family: 'Mont-SemiBold';
    color: #FFFFFF;
    font-size: 1.1em;
}
.Link-Contactanos{
    text-decoration: none;
    color: #FFFFFF;
    width: 8em;
    text-align: center;
    padding: 0.3em;
    font-family: 'Mont-Heavy';
    font-size: 1em;
    height: 2em;
    margin-bottom: 1em;
}

.icono-contacto{
    max-width: 30%;
    padding-bottom: 1em;
}

/*TABLET*/
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .Link-Contactanos{
        margin-bottom: 3em;
    }
    .icono-contacto{
        max-width: 50%;
    }
}

/* ESCRITORIO */
@media only screen and (min-width: 1024PX){
    .texto-llamado{
        font-size: 1.5em;
    }
    .Link-Contactanos{
        margin-bottom: 4em;
    }
    .icono-contacto{
        max-width: 60%;
    }
    .icono-contacto:hover{
        transform: scale(1.2);
        transition: width 0.5s, height 0.5s;
    }
}