.ocultoA {
    max-width: 90%;
    margin: 1em auto; 
    overflow: overlay;
    padding-bottom: 3em;
}

.texto {
    margin: 1em;
    text-align: center;
    font-family: 'Mont-SemiBold';
    font-size: 1.1em;
}

.vermas {
    text-decoration: none;
    color: #FFFFFF;
    width: 1.5em;
    text-align: center;
    padding: 0.3em;
    border-radius: 15px;
    margin-bottom: 1.5em;
    font-size: 1.5em;
    font-family: 'Mont-SemiBold';
}

.icono-audiovisual{
    max-width: 20%;
}

/*TABLET*/
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .icono-audiovisual{
        max-width: 15%;
    }
}


/*ESCRITORIO*/
@media only screen and (min-width: 1024PX){
    .texto {
        font-size: 1.5em;
    }
    .icono-audiovisual{
        max-width: 10%;
    }
    .icono-audiovisual:hover{
        transform: scale(1.2);
        transition: width 0.5s, height 0.5s;
    }
}
