@import '../css/Fonts.css';



.titulo{
    text-align: center;
    font-family: 'Mont-Heavy';
    font-size: 2em;
    margin: 0.5em;
    color: rgba(239, 84, 70, 0.7);
}

/*ESCRITORIO*/
@media only screen and (min-width: 1024PX){
    .bio{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
    }
    .titulo{
        text-align: center;
        font-family: 'Mont-Heavy';
        font-size: 3em;
        margin: 0.5em;
        color: rgba(239, 84, 70, 0.7);
    }
}