@import '../css/Fonts.css';

.container-somos{
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    color: #EF5446;
    margin-top: 20px;
    font-size: x-large;
    font-family: 'Mont-Black', sans-serif;
}


/* TABLETS */
@media only screen and (min-width: 768px) and (max-width: 991px){

    .titulo {
        color: #EF5446;
        margin: 10px;
        font-size: xxx-large;
        font-family: 'Mont-Black', sans-serif;
    }



}

/* ESCRITORIO */
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .container-bio{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;

    }
    .bio{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .titulo{
        color: #EF5446;
        margin-top: 5px;
        margin-bottom: 35px;
        font-size: 71px;
        font-family: 'Mont-Black', sans-serif;
    }
    
}
