@import '../css/Fonts.css';

.container-somos{
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    color: #EF5446;
    margin-top: 20px;
    font-size: x-large;
}