@import '../css/Fonts.css';

.wraper-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #31A28C;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 75vh;
}

.somosCard-container{
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    align-items: center;
    background-color: #31A28C;
    border-radius: 25px;
    padding:10px;
    height: 80vh;
}

.nombre{
    font-family: 'Mont-Black', sans-serif;
    text-align: center;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFFF;
}

.imagen{
    width: 95%;
    height: auto;
    margin: 10px;
    border-radius: 30px;
}

.descripcion{
    display: flex;
    font-family: 'Mont-Light', sans-serif;
    text-align: center;
    font-size:medium;
    color: #31A28C;
    margin: 20px;
    background-color: #FFFF;
    border-bottom: 30px;
}

/* TABLETS */
@media only screen and (min-width: 768px) and (max-width: 991px){

    .wraper-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid #31A28C;
        border-radius: 30px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        height: 84vh;
        margin-top: 40px;
    }
    
    .imagen {
        width: 67%;
        height: auto;
        margin: 10px;
        border-radius: 30px;
    }

    .descripcion {
        display: flex;
        font-family: 'Mont-Light', sans-serif;
        text-align: center;
        font-size: medium;
        color: #31A28C;
        margin-top: 22px;
        margin-bottom: 20px;
        background-color: #FFFF;
        border-bottom: 30px;
    }
}
/* ESCRITORIO */
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .wraper-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid #31A28C;
        border-radius: 30px;
        margin-bottom: 132px;
        height: 80vh;
        margin-top: 60px;
    }
    
    .imagen {
        width: 100%;
        height: auto;
        margin: 10px;
        border-radius: 30px;
    }

    .descripcion {
        display: flex;
        font-family: 'Mont-Light', sans-serif;
        text-align: center;
        font-size: x-large;
        color: #31A28C;
        margin-top: 22px;
        margin-bottom: 80px;
        background-color: #FFFF;
        border-bottom: 30px;
        height: 80px;
    }

    .somosCard-container{
        width: 94%;
        padding:18px;
    }
    
}
/* ESCRITORIO GRANDE */
@media only screen and (min-width: 1200px){
    .wraper-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid #31A28C;
        border-radius: 30px;
        margin-bottom: 132px;
        height: 80vh;
        margin-top: 60px;
    }
    
    .imagen {
        width: 100%;
        height: auto;
        margin: 5px;
        border-radius: 30px;
    }
    .imagen:hover{
        cursor: pointer;
    }

    .descripcion {
        display: flex;
        font-family: 'Mont-Light', sans-serif;
        text-align: center;
        font-size: x-large;
        color: #31A28C;
        margin-top: 22px;
        margin-bottom: 80px;
        background-color: #FFFF;
        border-bottom: 30px;
        height: 80px;
    }

    .somosCard-container{
        width: 94%;
        padding:20px;
    }
    .nombre{
        font-size: xx-large;
    }
}