@import '../css/Fonts.css';



.ubicacion-wraper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgba(241, 130, 105, 0.65);
}

.texto-descripcion{
    font-size: 1.25em;
    text-align: center;
    margin: 1em;
    font-family: 'Mont-Light';
    color: #FFFFFF;
    margin-top: 1em;
}

.teras-link{
    font-family: 'Mont-Light';
    color: #FFFFFF;
    cursor: pointer;
}

.titulo-ubicacion{
    font-size: 1.5em;
    text-align: center;
    margin: 0 1em 1em 1em;
    font-family: 'Mont-SemiBold';
    color: #FFFFFF;
}


.direccion{
    font-size: 1.5em;
    text-align: center;
    font-family: 'Mont-SemiBold';
    margin-bottom: 1em;
}

.mapa{
    width: 100%;
    height: 17em;
    margin: 0 auto;
}

.leaflet-bottom .leaflet-right{
    display: none;
}
.leaflet-control-attribution .leaflet-control{
    display: none;
}
.leaflet-attribution-flag{
    display: none;
}
/*TABLET*/
@media only screen and (min-width: 768px) and (max-width: 1023px){}


/*ESCRITORIO*/
@media only screen and (min-width: 1024PX){}